* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif; }

.generales__mediaLink {
  text-decoration: none;
  color: #7a7a7a;
  font-size: 16px; }

.generales__mediaLink:hover {
  color: #97a676; }

.header {
  display: flex;
  flex-direction: column;
  width: 100%; }
  .header__contenido {
    display: flex;
    justify-content: space-between; }
    .header__contenido__logo {
      width: 100px;
      margin-left: 15px; }
    .header__contenido__links {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-right: 50px; }
  .header nav {
    flex: 1;
    background-color: #c1d4a2; }
  .header__menu {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    height: 60px; }
    .header__menu__seleccionada > a {
      background-color: #8fa36d; }
  .header__menu li a {
    text-decoration: none;
    font-size: 20px;
    color: #f2f2f2;
    padding: 15px; }
    .header__menu li a:hover {
      background-color: #a3b883;
      transition: all 1.5s; }

.index__principal__portada {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 600px;
  background-image: url(../media/imagen-principal.jpg);
  opacity: 0.7; }

.index__principal__titulo {
  color: #41561d;
  margin-bottom: 30px; }

.index__principal__tituloSec {
  color: #5a7340; }

.index__cursos__titulo {
  color: #41561d;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 30px;
  font-size: 30px;
  font-weight: normal; }

.index__cursos__contenedor {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 50px; }
  .index__cursos__contenedor__curso {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .index__cursos__contenedor__curso__img {
      width: 300px; }
    .index__cursos__contenedor__curso__titulo {
      color: #5a7340;
      width: 70%;
      padding: 10px 0;
      font-size: 22px;
      font-weight: normal; }
    .index__cursos__contenedor__curso__link {
      display: block;
      text-align: center;
      background-color: #c1d4a2;
      color: #41561d;
      font-weight: bold;
      width: 40%;
      border: none;
      padding: 10px;
      text-decoration: none;
      margin-top: 20px; }
    .index__cursos__contenedor__curso__link:hover {
      text-decoration: none;
      color: #7a7a7a; }

.footer {
  width: 100%;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .footer__media {
    margin: 10px 0;
    font-size: 16px;
    color: #5a7340; }
  .footer__ig {
    width: 25px;
    margin: 10px 0; }
  .footer__derechos {
    margin: 25px 0 10px 0;
    color: #7a7a7a;
    font-size: 12px; }

.nosotros {
  display: flex;
  flex-direction: column;
  width: 72%;
  margin: 0 auto; }
  .nosotros__titulo {
    color: #5a7340;
    margin: 40px 0;
    font-weight: normal; }
  .nosotros__texto {
    line-height: 27px;
    margin-top: 25px;
    margin-bottom: 50px;
    color: #3A3A3A;
    font-size: 18px; }

.cursos {
  width: 70%;
  margin: 40px auto; }

.cursito {
  display: grid;
  grid-template-areas: "curso-imagen curso-descripcion";
  margin-bottom: 40px; }
  .cursito__img {
    grid-area: curso-imagen;
    margin-right: 25px; }
  .cursito__descripcion {
    display: flex;
    flex-direction: column;
    grid-area: curso-descripcion; }
  .cursito__titulo {
    margin-bottom: 15px;
    color: #41561d;
    border-bottom: 1px solid #91aa77;
    font-weight: normal; }
  .cursito__parrafo {
    flex: 1;
    color: #3A3A3A;
    border-bottom: 1px solid #91aa77;
    padding-top: 20px; }
  .cursito__link {
    text-decoration: none;
    color: #3A3A3A;
    background-color: #c1d4a2;
    color: #41561d;
    font-weight: bold;
    font-size: 14px;
    width: 12%;
    text-align: center;
    padding: 5px;
    font-style: oblique;
    margin-top: 5px; }
  .cursito__link:hover {
    text-decoration: none;
    color: #7a7a7a; }

.contacto {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; }
  .contacto__titulo {
    color: #41561d;
    font-weight: normal;
    margin-top: 25px;
    margin-bottom: 30px; }
  .contacto__form__grupo {
    display: flex;
    flex-direction: column;
    width: 800px; }
    .contacto__form__grupo__label {
      padding-top: 15px;
      padding-bottom: 5px;
      color: #5a7340;
      font-weight: bold; }
    .contacto__form__grupo__input {
      border: 1px solid #41561d;
      padding: 10px 10px; }
    .contacto__form__grupo .botonEnviar {
      padding: 10px 0;
      margin-top: 15px;
      margin-bottom: 40px;
      background-color: #c1d4a2;
      color: #3A3A3A;
      font-size: 16px;
      font-weight: bold;
      border: none; }
    .contacto__form__grupo .botonEnviar:hover {
      background-color: #d5e4be; }

.curso {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 0 auto; }
  .curso__imagen {
    margin: 40px auto; }
  .curso__titulo {
    color: #97a676;
    width: 100;
    margin-bottom: 20px; }
  .curso__texto {
    line-height: 27px;
    margin-bottom: 40px;
    color: #3A3A3A;
    font-size: 18px;
    width: 100%; }
