.cursos {
    width: 70%;
    margin: 40px auto;
}

.cursito {
    display: grid;
    grid-template-areas:
    "curso-imagen curso-descripcion";
    margin-bottom: 40px;

    &__img {
        grid-area: curso-imagen;
        margin-right: 25px;
    }

    &__descripcion {
        display: flex;
        flex-direction: column;
        grid-area: curso-descripcion;
    }

    &__titulo {
        margin-bottom: 15px;
        color: $colorTitulos;
        border-bottom: 1px solid #91aa77;
        font-weight: normal;
    }

    &__parrafo {
        flex: 1;
        color: $colorTexto;
        border-bottom: 1px solid #91aa77;
        padding-top: 20px;
    }

    &__link {
        text-decoration: none;
        color: $colorTexto;
        background-color: #c1d4a2;
        color: $colorTitulos;
        font-weight: bold;
        width: 12%;
        text-align: center;
        padding: 5px;
        font-style: oblique;
        margin-top: 5px;
    }
    &__link:hover {
        text-decoration: none;
        color: $colorLinks;
    }
}