* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;;
}

.generales__mediaLink {
    text-decoration: none;
    color: $colorLinks;
    font-size: 16px;
}

.generales__mediaLink:hover {
    color: #97a676;
}

