.nosotros {
    display: flex;
    flex-direction: column;
    width: 72%;
    margin: 0 auto;
    &__titulo {
        color: $colorSubtitulos;
        margin: 40px 0;
    }
    &__texto {
        line-height: 27px;
        margin-top: 25px;
        margin-bottom: 50px;
        color: $colorTexto;
        font-size: 18px;
    }    
}
